.button:hover {
    -fx-background-color: #e6e4e1;
    -fx-scale-y: 1.0;
}

.menu-bar .container .menu:openvertically .label .text {
    -fx-fill: white;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #dc4469;
    -fx-text-fill: white;
}

.list-cell {
    -fx-text-fill: black;
    -fx-background-color: #ffffff;
}

.list-cell:filled:hover {
    -fx-background-color: #eae3e3;;
}

.jfx-tab-pane:top .depth-container .tab-header-area .headers-region .tab-selected-line {
    -fx-background-color: #0096c9;
}

.jfx-tab-pane:top .depth-container .tab-header-area .headers-region .tab:selected:top .jfx-rippler {
    -jfx-rippler-fill:  #1d5183;
}

.jfx-tab-pane:top .tab-label {
    -fx-text-fill: black;
}

.jfx-tab-pane .tab-header-background {
    -fx-background-color: #ffffff;
}
.jfx-tab-pane .tab-selected-line {
    -fx-stroke: black;
    -fx-stroke-width: 3pt;
}
.tab:hover{
    -fx-background-color:  #e6e4e1;
}

.titled-pane > .title {
  -fx-background-color: #e6e4e1;
}